a {
	text-decoration: none;

}

div { 
		border: solid blue 5px
		background-color: lightblue

}

.container1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}
	
head {
		border: solid black 5px

}


